In [98]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager
import re

In [99]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [100]:
def bookGrab(x):
        title = book.h3.a["title"]
        x.append(title)

In [101]:
# Scrape All Books Basic info
url = 'https://books.toscrape.com/'
browser.visit(url)
titles = []
prices = []
ratings = []
stocks = []
for x in range(1, 4):
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    books = soup.find_all('article', class_='product_pod')
    for book in books:
        title = book.h3.a["title"]
        price = book.find("p", class_="price_color").get_text().strip()
        rating = book.p["class"][1]
        stock = book.find("p", class_="instock availability").get_text().strip()
        titles.append(title)
        prices.append(price)
        ratings.append(rating)
        stocks.append(stock)
    if browser.links.find_by_partial_text('next'):
        browser.links.find_by_partial_text('next').click()
    else:
        print("-Done")

In [102]:
# Crate Basic Scrape Data Frame
scrape_df = pd.DataFrame(
                        {'Titles':  titles,
                        'Prices':   prices,
                        'Ratings':  ratings,
                        'Stocks':   stocks})
scrape_df

,Titles,Prices,Ratings,Stocks
0,A Light in the Attic,£51.77,Three,In stock
1,Tipping the Velvet,£53.74,One,In stock
2,Soumission,£50.10,One,In stock
3,Sharp Objects,£47.82,Four,In stock
4,Sapiens: A Brief History of Humankind,£54.23,Five,In stock
5,The Requiem Red,£22.65,One,In stock
6,The Dirty Little Secrets of Getting Your Dream...,£33.34,Four,In stock
7,The Coming Woman: A Novel Based on the Life of...,£17.93,Three,In stock
8,The Boys in the Boat: Nine Americans and Their...,£22.60,Four,In stock
9,The Black Maria,£52.15,One,In stock
10,"Starving Hearts (Triangular Trade Trilogy, #1)",£13.99,Two,In stock
11,Shakespeare's Sonnets,£20.66,Four,In stock
12,Set Me Free,£17.46,Five,In stock
13,Scott Pilgrim's Precious Little Life (Scott Pi...,£52.29,Five,In stock
14,Rip it Up and Start Again,£35.02,Five,In stock
15,Our Band Could Be Your Life: Scenes from the A...,£57.25,Three,In stock
16,Olio,£23.88,One,In stock
17,Mesaerion: The Best Science Fiction Stories 18...,£37.59,One,In stock
18,Libertarianism for Beginners,£51.33,Two,In stock
19,It's Only the Himalayas,£45.17,Two,In stock
20,In Her Wake,£12.84,One,In stock
21,How Music Works,£37.32,Two,In stock
22,Foolproof Preserving: A Guide to Small Batch J...,£30.52,Three,In stock
23,Chase Me (Paris Nights #2),£25.27,Five,In stock
24,Black Dust,£34.53,Five,In stock
25,Birdsong: A Story in Pictures,£54.64,Three,In stock
26,America's Cradle of Quarterbacks: Western Penn...,£22.50,Three,In stock
27,Aladdin and His Wonderful Lamp,£53.13,Three,In stock
28,Worlds Elsewhere: Journeys Around Shakespeare’...,£40.30,Five,In stock
29,Wall and Piece,£44.18,Four,In stock
30,The Four Agreements: A Practical Guide to Pers...,£17.66,Five,In stock
31,The Five Love Languages: How to Express Heartf...,£31.05,Three,In stock
32,The Elephant Tree,£23.82,Five,In stock
33,The Bear and the Piano,£36.89,One,In stock
34,Sophie's World,£15.94,Five,In stock
35,Penny Maybe,£33.29,Three,In stock
36,Maude (1883-1993):She Grew Up with the country,£18.02,Two,In stock
37,"In a Dark, Dark Wood",£19.63,One,In stock
38,Behind Closed Doors,£52.22,Four,In stock
39,You can't bury them all: Poems,£33.63,Two,In stock
40,Slow States of Collapse: Poems,£57.31,Three,In stock
41,Reasons to Stay Alive,£26.41,Two,In stock
42,Private Paris (Private #10),£47.61,Five,In stock
43,#HigherSelfie: Wake Up Your Life. Free Your So...,£23.11,Five,In stock
44,Without Borders (Wanderlove #1),£45.07,Two,In stock
45,When We Collided,£31.77,One,In stock
46,"We Love You, Charlie Freeman",£50.27,Five,In stock
47,Untitled Collection: Sabbath Poems 2014,£14.27,Four,In stock
48,"Unseen City: The Majesty of Pigeons, the Discr...",£44.18,Four,In stock
49,Unicorn Tracks,£18.78,Three,In stock
50,"Unbound: How Eight Technologies Made Us Human,...",£25.52,One,In stock
51,Tsubasa: WoRLD CHRoNiCLE 2 (Tsubasa WoRLD CHRo...,£16.28,One,In stock
52,Throwing Rocks at the Google Bus: How Growth B...,£31.12,Three,In stock
53,This One Summer,£19.49,Four,In stock
54,Thirst,£17.27,Five,In stock
55,The Torch Is Passed: A Harding Family Story,£19.09,One,In stock
56,The Secret of Dreadwillow Carse,£56.13,One,In stock
57,The Pioneer Woman Cooks: Dinnertime: Comfort C...,£56.41,One,In stock
58,The Past Never Ends,£56.50,Four,In stock
59,The Natural History of Us (The Fine Art of Pre...,£45.22,Three,In stock

In [103]:
# Collect Category links
url = 'https://books.toscrape.com/'
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

Section = soup.find('ul', class_='nav nav-list')
linksSection = Section.find_all('a')
linksSectionStr = []
for x in linksSection:
    linksSectionStr.append(str(x))
categoriesLinks = []
for x in range(len(linksSectionStr)):
    linksSectionStr[x] = re.sub(' +', '', linksSectionStr[x])
    linksSectionStr[x] = re.sub('\n', '', linksSectionStr[x])
    linksSectionStr[x] = re.findall(r'"([^"]*)"', linksSectionStr[x])
    categoriesLinks.append(linksSectionStr[x][0])
print(categoriesLinks)

['catalogue/category/books_1/index.html', 'catalogue/category/books/travel_2/index.html', 'catalogue/category/books/mystery_3/index.html', 'catalogue/category/books/historical-fiction_4/index.html', 'catalogue/category/books/sequential-art_5/index.html', 'catalogue/category/books/classics_6/index.html', 'catalogue/category/books/philosophy_7/index.html', 'catalogue/category/books/romance_8/index.html', 'catalogue/category/books/womens-fiction_9/index.html', 'catalogue/category/books/fiction_10/index.html', 'catalogue/category/books/childrens_11/index.html', 'catalogue/category/books/religion_12/index.html', 'catalogue/category/books/nonfiction_13/index.html', 'catalogue/category/books/music_14/index.html', 'catalogue/category/books/default_15/index.html', 'catalogue/category/books/science-fiction_16/index.html', 'catalogue/category/books/sports-and-games_17/index.html', 'catalogue/category/books/add-a-comment_18/index.html', 'catalogue/category/books/fantasy_19/index.html', 'catalogue/category/books/new-adult_20/index.html', 'catalogue/category/books/young-adult_21/index.html', 'catalogue/category/books/science_22/index.html', 'catalogue/category/books/poetry_23/index.html', 'catalogue/category/books/paranormal_24/index.html', 'catalogue/category/books/art_25/index.html', 'catalogue/category/books/psychology_26/index.html', 'catalogue/category/books/autobiography_27/index.html', 'catalogue/category/books/parenting_28/index.html', 'catalogue/category/books/adult-fiction_29/index.html', 'catalogue/category/books/humor_30/index.html', 'catalogue/category/books/horror_31/index.html', 'catalogue/category/books/history_32/index.html', 'catalogue/category/books/food-and-drink_33/index.html', 'catalogue/category/books/christian-fiction_34/index.html', 'catalogue/category/books/business_35/index.html', 'catalogue/category/books/biography_36/index.html', 'catalogue/category/books/thriller_37/index.html', 'catalogue/category/books/contemporary_38/index.html', 'catalogue/category/books/spirituality_39/index.html', 'catalogue/category/books/academic_40/index.html', 'catalogue/category/books/self-help_41/index.html', 'catalogue/category/books/historical_42/index.html', 'catalogue/category/books/christian_43/index.html', 'catalogue/category/books/suspense_44/index.html', 'catalogue/category/books/short-stories_45/index.html', 'catalogue/category/books/novels_46/index.html', 'catalogue/category/books/health_47/index.html', 'catalogue/category/books/politics_48/index.html', 'catalogue/category/books/cultural_49/index.html', 'catalogue/category/books/erotica_50/index.html', 'catalogue/category/books/crime_51/index.html']

In [104]:
temListOfCategories = ["Travel","Mystery","Historical_Fiction","Sequential_Art","Classics","Philosophy","Romance","Womens_Fiction","Fiction","Childrens","Religion","Nonfiction","Music","Default","Science_Fiction","Sports_and_Games","Add_a_comment","Fantasy","New_Adult","Young_Adult","Science","Poetry","Paranormal","Art","Psychology","Autobiography","Parenting","Adult_Fiction","Humor","Horror","History","Food_and_Drink","Christian_Fiction","Business","Biography","Thriller","Contemporary","Spirituality","Academic","Self_Help","Historical","Christian","Suspense","Short_Stories","Novels","Health","Politics","Cultural","Erotica","Crime"]

In [105]:
url = 'https://books.toscrape.com/'

generaCollection = []
genraTitles = []
for x in range(1,5):
    browser.visit(url + categoriesLinks[x])
    title1 = []
    page = True
    while page == True:
        html = browser.html
        soup = BeautifulSoup(html, 'html.parser')
        books = soup.find_all('article', class_='product_pod')
        for book in books:
            title = book.h3.a["title"]
            title1.append(title)
        if browser.links.find_by_partial_text('next'):
            browser.links.find_by_partial_text('next').click()
        else:
            print("-Done")
            page = False
    generaCollection.append(title1)

-Done
-Done
-Done
-Done

In [110]:
len(generaCollection)

4

In [123]:
toAdd = pd.DataFrame()
ahh = pd.DataFrame()
woo = True
for x in range(0,4):
    while woo == True:
        ahh = ahh.append(scrape_df[scrape_df['Titles'].isin(generaCollection[x])])
        ahh['Genre'] = x
        woo = False
    woo = True
    toAdd = toAdd.append(ahh)
    ahh.drop(ahh.index, inplace=True)
toAdd

C:\Users\pereg\AppData\Local\Temp\ipykernel_18520\3241307790.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ahh = ahh.append(scrape_df[scrape_df['Titles'].isin(generaCollection[x])])
C:\Users\pereg\AppData\Local\Temp\ipykernel_18520\3241307790.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  toAdd = toAdd.append(ahh)
C:\Users\pereg\AppData\Local\Temp\ipykernel_18520\3241307790.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ahh = ahh.append(scrape_df[scrape_df['Titles'].isin(generaCollection[x])])
C:\Users\pereg\AppData\Local\Temp\ipykernel_18520\3241307790.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  toAdd = toAdd.append(ahh)
C:\Users\pereg\AppData\Local\Temp\ipykernel_18520\3241307790.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ahh = ahh.append(scrape_df[scrape_df['Titles'].isin(generaCollection[x])])
C:\Users\pereg\AppData\Local\Temp\ipykernel_18520\3241307790.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  toAdd = toAdd.append(ahh)
C:\Users\pereg\AppData\Local\Temp\ipykernel_18520\3241307790.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ahh = ahh.append(scrape_df[scrape_df['Titles'].isin(generaCollection[x])])
C:\Users\pereg\AppData\Local\Temp\ipykernel_18520\3241307790.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  toAdd = toAdd.append(ahh)

,Titles,Prices,Ratings,Stocks,Genre
19,It's Only the Himalayas,£45.17,Two,In stock,0
3,Sharp Objects,£47.82,Four,In stock,1
37,"In a Dark, Dark Wood",£19.63,One,In stock,1
58,The Past Never Ends,£56.50,Four,In stock,1
1,Tipping the Velvet,£53.74,One,In stock,2
13,Scott Pilgrim's Precious Little Life (Scott Pi...,£52.29,Five,In stock,3
51,Tsubasa: WoRLD CHRoNiCLE 2 (Tsubasa WoRLD CHRo...,£16.28,One,In stock,3
53,This One Summer,£19.49,Four,In stock,3

In [114]:
toAdd = toAdd.drop(["Prices","Ratings","Stocks"], axis=1)
# scrape_df.where(scrape_df == "It's Only the Himalayas")
df = scrape_df.merge(toAdd, how='outer',on='Titles')
# df=scrape_df.join(toAdd, lsuffix="_left", rsuffix="_right")

KeyError: "['Prices', 'Ratings', 'Stocks'] not found in axis"

In [108]:
df

,Titles,Prices,Ratings,Stocks,Genre
0,A Light in the Attic,£51.77,Three,In stock,NaN
1,Tipping the Velvet,£53.74,One,In stock,NaN
2,Soumission,£50.10,One,In stock,NaN
3,Sharp Objects,£47.82,Four,In stock,NaN
4,Sapiens: A Brief History of Humankind,£54.23,Five,In stock,NaN
5,The Requiem Red,£22.65,One,In stock,NaN
6,The Dirty Little Secrets of Getting Your Dream...,£33.34,Four,In stock,NaN
7,The Coming Woman: A Novel Based on the Life of...,£17.93,Three,In stock,NaN
8,The Boys in the Boat: Nine Americans and Their...,£22.60,Four,In stock,NaN
9,The Black Maria,£52.15,One,In stock,NaN
10,"Starving Hearts (Triangular Trade Trilogy, #1)",£13.99,Two,In stock,NaN
11,Shakespeare's Sonnets,£20.66,Four,In stock,NaN
12,Set Me Free,£17.46,Five,In stock,NaN
13,Scott Pilgrim's Precious Little Life (Scott Pi...,£52.29,Five,In stock,3.0
14,Rip it Up and Start Again,£35.02,Five,In stock,NaN
15,Our Band Could Be Your Life: Scenes from the A...,£57.25,Three,In stock,NaN
16,Olio,£23.88,One,In stock,NaN
17,Mesaerion: The Best Science Fiction Stories 18...,£37.59,One,In stock,NaN
18,Libertarianism for Beginners,£51.33,Two,In stock,NaN
19,It's Only the Himalayas,£45.17,Two,In stock,NaN
20,In Her Wake,£12.84,One,In stock,NaN
21,How Music Works,£37.32,Two,In stock,NaN
22,Foolproof Preserving: A Guide to Small Batch J...,£30.52,Three,In stock,NaN
23,Chase Me (Paris Nights #2),£25.27,Five,In stock,NaN
24,Black Dust,£34.53,Five,In stock,NaN
25,Birdsong: A Story in Pictures,£54.64,Three,In stock,NaN
26,America's Cradle of Quarterbacks: Western Penn...,£22.50,Three,In stock,NaN
27,Aladdin and His Wonderful Lamp,£53.13,Three,In stock,NaN
28,Worlds Elsewhere: Journeys Around Shakespeare’...,£40.30,Five,In stock,NaN
29,Wall and Piece,£44.18,Four,In stock,NaN
30,The Four Agreements: A Practical Guide to Pers...,£17.66,Five,In stock,NaN
31,The Five Love Languages: How to Express Heartf...,£31.05,Three,In stock,NaN
32,The Elephant Tree,£23.82,Five,In stock,NaN
33,The Bear and the Piano,£36.89,One,In stock,NaN
34,Sophie's World,£15.94,Five,In stock,NaN
35,Penny Maybe,£33.29,Three,In stock,NaN
36,Maude (1883-1993):She Grew Up with the country,£18.02,Two,In stock,NaN
37,"In a Dark, Dark Wood",£19.63,One,In stock,NaN
38,Behind Closed Doors,£52.22,Four,In stock,NaN
39,You can't bury them all: Poems,£33.63,Two,In stock,NaN
40,Slow States of Collapse: Poems,£57.31,Three,In stock,NaN
41,Reasons to Stay Alive,£26.41,Two,In stock,NaN
42,Private Paris (Private #10),£47.61,Five,In stock,NaN
43,#HigherSelfie: Wake Up Your Life. Free Your So...,£23.11,Five,In stock,NaN
44,Without Borders (Wanderlove #1),£45.07,Two,In stock,NaN
45,When We Collided,£31.77,One,In stock,NaN
46,"We Love You, Charlie Freeman",£50.27,Five,In stock,NaN
47,Untitled Collection: Sabbath Poems 2014,£14.27,Four,In stock,NaN
48,"Unseen City: The Majesty of Pigeons, the Discr...",£44.18,Four,In stock,NaN
49,Unicorn Tracks,£18.78,Three,In stock,NaN
50,"Unbound: How Eight Technologies Made Us Human,...",£25.52,One,In stock,NaN
51,Tsubasa: WoRLD CHRoNiCLE 2 (Tsubasa WoRLD CHRo...,£16.28,One,In stock,3.0
52,Throwing Rocks at the Google Bus: How Growth B...,£31.12,Three,In stock,NaN
53,This One Summer,£19.49,Four,In stock,3.0
54,Thirst,£17.27,Five,In stock,NaN
55,The Torch Is Passed: A Harding Family Story,£19.09,One,In stock,NaN
56,The Secret of Dreadwillow Carse,£56.13,One,In stock,NaN
57,The Pioneer Woman Cooks: Dinnertime: Comfort C...,£56.41,One,In stock,NaN
58,The Past Never Ends,£56.50,Four,In stock,NaN
59,The Natural History of Us (The Fine Art of Pre...,£45.22,Three,In stock,NaN

In [109]:
browser.quit()